* {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --gray-1: #ccc;
    --Links: #2c405e;
    --LinksHoverMobile: #128bd6;
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--gray-1); */
}

.wrapper {
    padding: 0 2em;
    /* border: 1px solid green; */
}

.is-hidden {
    display: none;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 15px;
}

.main-nav__logo {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-burger {
    border: 0;
    background-color: transparent;
    font-size: 22px;
    color: var(--black);
    display: none;
    cursor: pointer;
}

.main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu__item {
    margin: 0 10px;
}

.main-menu__link {
    text-decoration: none;
    color: var(--navLinks);
    transition: all 300ms;
}


.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.hero__content {
    position: relative;
    max-width: 900px;
    text-align: center;
    z-index: 10;
}

.hero__title, .hero__text {
    color: var(--white);
}

.hero__title, .skill__title {
    font-size: 2.2em;
}

.hero__text {
    font-size: 1.2em;
    line-height: 34px;
    letter-spacing: 1.2px; 
}


.hero__btn {
    text-decoration: none;
    color: var(--white);
    background-color: var(--LinksHoverMobile);
    padding: 10px 30px;
    transition: all 300ms;
}

.hero__btn:hover {
    background-color: #1d6fa2;
}


.about-articles{
    padding: 2.5em 0;
}

.about-articles__title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 2em;
}

.about-articles__grid{
    display: grid;
    gap: 2em;
}

.about-card__image {
    width: 100%;
    object-fit: cover;
    display: block;
}

.about-card__content {
    padding: 1em;
    text-align: center;
} 






@media screen and (max-width: 550px) {
    .main-menu {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100vw;
        background-color: var(--black);
        flex-direction: column;
        text-align: center;
        transform: translateX(100vw);
        transition: transform 0.3s ease;
        z-index: 20;
    }

    .main-menu.show-menu {
        transform: translateX(0);
    }

    .btn-burger {
        display: block;
        z-index: 20;
    }

    .main-menu__item {
        margin: 25px;
    }

    .main-menu__link {
        color: var(--white);
    }

    .main-menu__link:hover {
        color: var(--LinksHoverMobile);
    }
}



@media screen and (min-width: 680px) {
    .about-articles__grid {
        grid-column-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 1024px) {
    .about-articles__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1300px) {
    .about-articles__grid {
        grid-template-columns: repeat(4, 1fr);
    }
} 