*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --scrollBar: 17px;
}
body{
    /* font-family: sans-serif; */
}

#container{
    width: 98%;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 800px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px #ccc;
}

#cabecera{
    width: cal(100vw - var(--scrollBar));
    background-color: blue;
    color: white;
    padding: 7vmin 0;
    text-align: center;
}

.banner{
    width: 100%;
    height: 200px;
    background-color: red;
    color: white;
    
}
.banner h1{
    text-align: center;
    padding: 5vmin 0;
    line-height: 100px;
}