*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --scrollBar: 17px;
    --ColorBanner: #9dbfd8;
}
body{
    /* font-family: sans-serif; */
}

#container{
    width: 98%;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 800px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px #ccc;
}

#cabecera{
    width: cal(100vw - var(--scrollBar));
    background-color: #fafafa;
    padding: 10vmin 0;
}

#cabecera span{
    margin-left: 20px;
    color: black;
    font-size: 28px;

}
.banner{
    width: 100%;
    height: 120vmin;
    background-color: var(--ColorBanner);
    color: black;
    padding: 10vmin 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.banner h1,span{
   text-align: center;
}
.banner h1{
    margin-top: 0px;
    margin-bottom: 25px;
}

.banner span{
    margin-top: 25px;
}

